<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <style>
  body {
        background-image: url("static/css/mintt.jpg");
        background-size: cover;
        background-position: top center;
}


</style>
</head>
<body>
    <h1 align="center" style="color:white  ">ment</h1>
    <h2 align="center" style="color: white;">
        this plant has an imence for fiertile soil yet need almost only on liter a week  
    </h2>

    <img src= 'static/css/cucUmber.jpg' alt="cucmber">
</body>
</html>