<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHIRI tomato</title>
    <style>
  body {
        background-image: url("static/css/mintt.jpg");
        background-size: cover;
        background-position: top center;
}


</style>
</head>
<body>
    <h1 align="center" style="color:white  ">ment</h1>
    <h2 align="center" style="color: white;">
        this plant is great start for any beginer gardener as it requers minimal amount of water and capeble of thriving in barren soil 
    </h2>

    <img src= 'static/css/shiri.jpg' alt="ment">
</body>
</html>